@charset "utf-8";

@import url(estilo.css);

body {
	background: #000;
	font-family:Helvetica, Arial, Tahoma;		
	font-size: 13px;
	background:url("../imagenes/bodyBg2.png")repeat 0 0 #000;
}
.contenedor{
	width: 70%;
	min-height: 600px;
	max-height: 1120px; 
	background: #548D94;
	margin-left: auto;
	padding-top: 5px;
	margin-right: auto;
	max-width: 965px;
	overflow: auto;
}

.linea_naranja{height: auto;
	            background-color: black ;
				border-top: 1px solid #D6D7D0;
				border-bottom: 1px solid #D6D7D0;
}
.banner3{height: auto;
	     width: 100%;
         overflow: hidden;
         }

@media only screen and (max-width: 488px;) {

.banner3{height: auto;
	     width: 100%;
         overflow: hidden;
         }
         }

@media only screen and (max-width: 253px;) {

.banner3{height: auto;
	     width: 100%;
         overflow: hidden;
         }
         }

.menu{ }

.menu ul{ }

.menu li{ }